nav
  ul.group.list-unstyled
    li.heading The Club
    li
      a(href="/") About
    li
      a(href="directions.html") Directions
    li
      a(href="md-open.html") Maryland Open

  ul.group.list-unstyled
    li.heading Go
    li
      a(href="what-is-go.html") What Is Go?

  ul.group.list-unstyled
    li.heading Play Online
    li
      a(href="http://www.gokgs.com/") KGS
    li
      a(href="https://online-go.com/") OGS

  ul.group.list-unstyled
    li.heading Books And Equipment
    li
      a(href="https://www.ymimports.com/") Yellow Mountain Imports
