extends layout

block content 
  h3 Directions
  :marked
   There is construction at the
   HillCrest School, so we will be changing locations for the first time
   in living memory. We will still meet at 7 30 on Sundays. The new
   locations is Bloomsbury Community Center which is 106 Bloomsbury
   Avenue, Catonsville Maryland.

   From Hillcrest – just take a left out of the loop towards
   Catonsville. Make a right on Bloomsbury – the building, which looks
   like a school will be on the right.

   From the Baltimore Beltway – head west into Catonsville and make a
   left on Bloomsbury – again the building is on the right.

   From 95 or UMBC – take 166 towards Catonsville. Immediately after
   Catonsville High School, make a right on Bloomsbury, the building
   will be on the left.

   We have a room assigned to us on the bottom floor, but we just meet
   in the lobby area upstairs from the entrance – it may involve some
   table moving but it is a nice space.

   For further information, contact Keith Arnold at 410-788-3520 or by
   e-mail at hlime81@comcast.net.
