extends layout

block content
  .index

    .update
      p UPDATED 3/4/2024

    main
      :marked
        The Maryland Open is happening again! [Read all about it and register here.](/md-open.html)

        ### History

        One of the oldest chapters in the American Go Association, the
        Gilbert W. Rosenthal Memorial Baltimore Go Club has sponsored the
        Maryland Open go tournament every Memorial Day weekend for 30 years.
        We also hold a club rating tournament during club meetings each
        February. For more information about US Go, visit the 
        [American Go Association web site](http://www.usgo.org/).

        ### Meeting Date and Time

        We are no longer meeting regularly at Hillcrest or Bloomsbury, but we
        are meeting! For further information, contact Keith Arnold at
        410-788-3520 or by e-mail at hlime81@verizon.net

        Visit this page to sign up for the club mailing list: 
        [Baltimore Go Club Mailing List](http://www.baltimoregoclub.org/mailman/listinfo/club).
