extends layout

block content
  h3 Welcome to bgc!
  :marked
    Find tutorials and documentation at http://roots.cx : )

    * things
    * and
    * stuff

    yo

    1. more
    2. things
    3. here

    ### what do you think?
