doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //-title= _path
    meta(http-equiv='Cache-Control', content='public, max-age=86400')
    title GWRM Baltimore Go Club
    != css()

  body
    header.container-fluid
      .row.align-items-center
        .col-3.logo.py-1
          a(href="/")
            img(src='img/gwrm.gif')
        .col
          a(href="/")
            h1.title GWRM Baltimore Go Club

    .container-fluid
      .row.flex-xl-nowrap
        .sidebar.col-12.col-md-3.col-xl-2
          include _sidebar

        main.col-12.col-md-9.col-xl-8.py-md-3.pl-md-5
          block content

    != js()
