extends layout

block content
  h3 The Maryland Open
  iframe(width="100%", height="400", src="http://pittsburghgo.com/WebTD/t_reg.php?id=34")
  include:md _md-open.md

  include:md _md_drp.md
  img(src="img/md-drp.png")

  p

  img(src="img/MD-Open-2019.png", width="90%")
