extends layout

block content
  h3 The Maryland Open
  iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSd_rdAITPXbkesSBjaVO9umgRGWAfa9DxqVnq2ur7raA6sccw/viewform?embedded=true", width="640", height="1003", frameborder="0", marginheight="0", marginwidth="0") Loading…
  include:md _md-open.md

  include:md _md_drp.md
  

  p

  img(src="img/MD-Open-2024.png", width="90%")
