header
  background-color: #f1f2FF

  .logo
    min-width: 155px

  a
    color: $headings-color
    &:hover
      text-decoration: none
      color: $headings-color

.sidebar
  order: 0

  @media (min-width: 768px)
    position: sticky
    height: calc(100vh - 4rem)

  @media (min-width: 1200px)
    flex: 0 1 320px

.content
  padding: 0 50px
  float: left

.text-justify
  text-align: justify

.indent-para
  text-indent: 3em

nav
  li.heading
    display: block
    border-bottom: 1px solid #AAA
    color: #888

.index
  .update
    color: #E22
    font-weight: bold
